<script src="js/addons/rating.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->


<!-- <div class="container">
  <br>
  <div class="text-center">
    <h2>Gear Details</h2>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngIf="this.selected && this.selected.id && this.selected.id > 0">
      Id:
      {{selected.id}}</li>
    <li class="list-group-item ">Name: {{selected.name | titlecase }}</li>
    <li class="list-group-item " style="text-align:center">
      <img src="{{selected.imageUrl}}" alt="gear image" class="gear-img-details">
      <img *ngIf="selected.imageUrl2 && selected.imageUrl2.length > 0" src="{{selected.imageUrl2}}" alt="gear image"
        class="gear-img-details">
      <img *ngIf="selected.imageUrl3 && selected.imageUrl3.length > 0" src="{{selected.imageUrl3}}" alt="gear image"
        class="gear-img-details">
    </li>
    <li class="list-group-item">
      Description:
      {{selected.description | lowercase }}</li>
    <li class="list-group-item ">Price per day: {{selected.price | currency }}</li>
    <li class="list-group-item ">Condition: {{selected.gearCondition | lowercase }}</li>
    <li class="list-group-item " *ngIf="selected.available == true">Available: Yes!</li>
    <li class="list-group-item red-text" *ngIf="selected.available == false">Available: Sorry, it is not available to
      rent
      at this time.</li>

    <li class="list-group-item ">Rent From: {{selected.user.firstName | titlecase }}
      {{selected.user.lastName | titlecase }}</li>

    <li class="list-group-item ">Location: {{selected.user.address.city | titlecase }},
      {{selected.user.address.state | titlecase }} {{selected.user.address.postalCode}}</li>

    <li class="list-group-item ">
      <h4>Click here to notify <span style="color:orange">{{selected.user.firstName | titlecase}}</span></h4> <a
        href="mailto:{{selected.user.email}}?subject=Gear Silo Rental Inquiry!&body=Hi, {{selected.user.firstName}}! I would like to rent your {{selected.name}}. Please confirm the requested reserve dates.">
        <span style="margin-right: 5px; font-size: 30px; color: orange" class="glyphicon glyphicon-envelope"></span></a>
    </li>


  </ul>
  <br>
  <div class='container' *ngIf="selected.available">
    <br>
    <div class="text-center">
      <h2>Reservation Dates</h2>
    </div>
    <div class="text-center red-text" *ngIf="badRes">
      <h4>Sorry, please try again.</h4>
    </div>
    <div class="row">
      <div class="col-4">
      </div>

      <div class="col-4">
        <form class="form-group my-2 my-lg-0" ngNativeValidate>
          <label for="openDate">Start date:
            <input class="form-control mr-sm-2" type="date" name="openDate" [(ngModel)]="newRes.openDate" required>
          </label>
          <br>
          <label for="closeDate">End date:
            <input class="form-control mr-sm-2" type="date" name="closeDate" [(ngModel)]="newRes.closeDate" required>
          </label>
          <br>
          <span>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button (click)="createReservation()" class="btn btn-dark my-2 my-sm-0">
                Submit reservation</button>
              <button (click)="toGears()" class="btn btn-warning my-2 my-sm-0">Cancel</button>
            </div>
          </span>
        </form>
      </div>
    </div>

    <div class="col-4"></div>
  </div>
</div>
<br> -->

<div class="container">
  <!-- RESERVATION PAGE -->
  <div *ngIf="selected">
    <div class="list-group">
      <div>
        <div style="align-items: center; align-content: center; align-self: auto;">

          <h2 style="margin-left: 800px">{{selected.name | titlecase}}</h2>

          <div class="row">
            <div class="column">
              <div style="max-width:600px; max-height:500px !important; padding: 10px; overflow: hidden;">
                <img class="resImage" src="{{selected.imageUrl}}" alt="">
              </div>
            </div>

            <!-- RIGHT SIDE - DETAILS  -->
            <div class="column">
              <div class="right">
                <li class="list-group" *ngIf="this.selected && this.selected.description">
                  Description: {{selected.description | lowercase }}</li>

                <li class="list-group ">Price per day: {{selected.price | currency }}</li>

                <li class="list-group ">Condition: {{selected.gearCondition | lowercase }}</li>

                <li class="list-group " *ngIf="selected.available == true">Available: Yes!</li>

                <li class="list-group red-text" *ngIf="selected.available == false">Available: Sorry, it is not
                  available to rent at this time.</li>

                <li class="list-group ">Rent From: {{selected.user.firstName | titlecase }}
                  {{selected.user.lastName | titlecase }}</li>

                <li class="list-group ">Location: {{selected.user.address.city | titlecase }},
                  {{selected.user.address.state | titlecase }} {{selected.user.address.postalCode}}</li>

                <li class="list-group">
                  <h4>Click here to notify <span style="color:orange">{{selected.user.firstName | titlecase}}</span>
                  </h4> <a
                    href="mailto:{{selected.user.email}}?subject=Gear Silo Rental Inquiry!&body=Hi, {{selected.user.firstName}}! I would like to rent your {{selected.name}}. Please confirm the requested reserve dates.">
                    <span style="margin-right: 5px; font-size: 30px; color: orange"
                      class="glyphicon glyphicon-envelope"></span></a>
                </li>

                <br>
                <div class='container' *ngIf="selected.available">
                  <br>
                  <div class="text-align">
                    <h2>Reservation Dates</h2>
                  </div>
                  <div class="text-align red-text" *ngIf="badRes">
                    <h4>Sorry, please try again.</h4>
                  </div>

                  <form class="form-group my-2 my-lg-0" ngNativeValidate>
                    <label for="openDate">Start date:
                      <input class="form-control mr-sm-2" type="date" name="openDate" [(ngModel)]="newRes.openDate"
                        required>
                    </label>
                    <br>
                    <label for="closeDate">End date:
                      <input class="form-control mr-sm-2" type="date" name="closeDate" [(ngModel)]="newRes.closeDate"
                        required>
                    </label>
                    <br>
                    <span>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button (click)="createReservation()" class="btn btn-dark my-2 my-sm-0">
                          Submit reservation</button>
                        <button (click)="toGears()" class="btn btn-warning my-2 my-sm-0">Cancel</button>
                      </div>
                    </span>
                  </form>


                </div>
                <div class='container' *ngIf="selected.available == false">
                  <button (click)="toGears()" class="btn btn-dark my-2 my-sm-0">Back to Gear list</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
