<div class="container main-secction">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 image-section">
      <img src="https://i.imgur.com/K2Jw9w4.jpg">
    </div>
    <div class="row user-left-part">
      <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
        <div class="row ">
          <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
            <div *ngIf="loggedInUser.imageUrl != null">
              <img src="{{loggedInUser.imageUrl}}">
              <!-- <div *ngIf="loggedInUser.imageUrl === null">
                <img src="{{loggedInUser.imageUrl}}"> -->
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
            <button data-toggle="modal" data-target="#demo" class="btn btn-defult follow "><i aria-hidden="true"></i>
              Edit</button>
            <button class="btn btn-defult follow" data-toggle="modal" data-target="#addGear">Add</button>
          </div>
          <div class="row user-detail-row">
            <div class="col-md-12 col-sm-12 user-detail-section2 pull-left">
              <div class="border"></div>
              <p>Email</p>
              <span>{{loggedInUser.email}}</span>
            </div>
            <div class="col-md-12 col-sm-12 user-detail-section2 pull-right">
              <div class="border"></div>
              <p>About Me</p>
              <span>{{loggedInUser.about}}</span>
            </div>
          </div>
          <div class="col-md-12 user-detail-section2">
            <div class="border"></div>
            <p>Rating</p>
            <span>{{myReservations}} <small>and 42 review</small></span>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
        <div class="row profile-right-section-row">
          <div class="col-md-12 profile-header">
            <div class="row">
              <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                <!-- <p>Senior Architect</p> -->
              </div>
              <div class="col-md-4 col-sm-6 col-xs-6 profile-header-section1 text-right pull-rigth">
                <!-- <button class="btn btn-info req-btn"> REQUEST</button> -->
              </div>
            </div>
          </div>




<!-- TABLE OF USER'S GEAR -->
          <div class="contaner-fluid">
            <div class="row">
              <div class="col-1"></div>
              <div class="col-10">
                <div>
                  <br>
                  <div class="text-center">
                  </div>
                  <table class="table table  table table-hover">
                    <thead class="thead-dark">
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of gearList; let i = index">

                        <td class="thumbnail">
                          <img src="{{item.imageUrl}}" />
                        </td>


                        <td *ngIf="item.active == true" scope="row" data-target="#popupGear" data-toggle="modal"
                          (click)="onClickGearPopUp(item)">{{item.name | titlecase }}</td>

                        <td *ngIf="item.active == true" data-target="#popupGear" data-toggle="modal"
                          (click)="onClickGearPopUp(item)">{{item.description | lowercase }}</td>

                        <td *ngIf="item.active == true" data-target="#popupGear" data-toggle="modal"
                          (click)="onClickGearPopUp(item)">{{item.price | currency}}</td>

                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td *ngIf="item.active == true" data-toggle="modal"> <button type="submit" value="update"
                            class="btn btn-info" (click)="onClick(item)" data-target="#updateGear" data-toggle="modal">
                            <img id="picDelete" src="https://i.imgur.com/hjYFM4K.gif"></button></td>



                        <td></td>
                        <td *ngIf="item.active == true" data-toggle="modal"> <button class="btn btn-danger"
                            type="submit" (click)="deleteGear(item.id)"><img id="picDelete"
                              src="https://i.imgur.com/gNRL8La.png"></button></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="text-center">
                  </div>
                </div>
              </div>
              <div class="col-1"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<ul *ngFor="let res of myReservations; let i = index">

    <li>{{res.approved}}</li>
    <li>{{res.gearReview}}</li>
    <li>{{res | json}}</li>

  </ul>

<div>

  <!-- EDIT USER PROFILE MODAL-->
  <div id="demo" class="modal fade" role="dialog">
    <div class="modal-dialog"> -->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{loggedInUser.firstName | titlecase}} {{loggedInUser.lastName | titlecase}} </h4>
        </div>
        <div class="modal-body">
          <img class="img-responsive" />
          <input type="text" placeholder="{{loggedInUser.firstName}}" class="form-control"
            [(ngModel)]="editedUser.firstName">
          <input type="text" placeholder="{{loggedInUser.lastName}}" class="form-control"
            [(ngModel)]="editedUser.lastName">
          <input type="url" placeholder="{{loggedInUser.imageUrl}}" class="form-control"
            [(ngModel)]="editedUser.imageUrl">
          <input type="tel" placeholder="{{loggedInUser.phone}}" class="form-control" [(ngModel)]="editedUser.phone">
          <input  type="hidden" value="{{loggedInUser.id}}" name="{{editedUser.id}}"  class="form-control" [(ngModel)]="editedUser.id">
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          <button type="button" (click)="updateUser(editedUser)" class="btn btn-primary"
            data-dismiss="modal">Update</button>
        </div>
      </div>

    </div>
  </div>










  <!-- ADD GEAR MODAL -->
  <div class="modal fade" id="addGear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <input type="text" placeholder="Name" class="form-control" [(ngModel)]="newGear.name">
          <input type="text" placeholder="Price" class="form-control" [(ngModel)]="newGear.price">
          <input type="url" placeholder="Image Url" class="form-control" [(ngModel)]="newGear.imageUrl">
          <input type="text" placeholder="Description" class="form-control" [(ngModel)]="newGear.description">
          <input type="text" placeholder="Gear Condition" class="form-control" [(ngModel)]="newGear.gearCondition">

          <input type="hidden" valueclass="form-control" value="{{loggedInUser.id}}" name="{{loggedInUser}" [(ngModel)]="newGear.user">
        <input type="hidden" valueclass="form-control" value=1 name=1 [(ngModel)]="newGear.active">
        <input type="hidden" valueclass="form-control" value=1 name=1 [(ngModel)]="newGear.available">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="addGear(newGear)"  class="btn btn-primary" data-dismiss="modal">Save changes</button>
      </div>
      <!-- (click)="onAddClick(lgModal)" -->
    </div>
  </div>
</div>


<!-- UPDATE GEAR MODAL -->
<div class="modal fade" id="updateGear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="{{selecteditem.name}}" class="form-control" [(ngModel)]="updatedGear.name">
          <input type="text" placeholder="{{selecteditem.price}}" class="form-control" [(ngModel)]="updatedGear.price">
          <input type="url" placeholder="{{selecteditem.imageUrl}}" class="form-control"
            [(ngModel)]="updatedGear.imageUrl">
          <input type="text" required minlength="15" placeholder="{{selecteditem.description}}" class="form-control"
            [(ngModel)]="updatedGear.description">
          <input type="text" placeholder="{{selecteditem.gearCondition}}" class="form-control"
            [(ngModel)]="updatedGear.gearCondition">

          <input type="hidden" valueclass="form-control" value="{{loggedInUser.id}}" name="{{loggedInUser}" [(ngModel)]="updatedGear.user">
        <input type="checkbox" placeholder="{{selecteditem.gearCondition}}" [(ngModel)]="updatedGear.active">
          <input type="checkbox" placeholder="{{selecteditem.gearCondition}}" [(ngModel)]="updatedGear.available">
          <input type="hidden" placeholder="{{selecteditem.gearCondition}}" value="{{selecteditem.id}}"
            name="{{selecteditem.id}}" [(ngModel)]="updatedGear.id">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="updateGear(updatedGear)" class="btn btn-primary" data-dismiss="modal">Save
            changes</button>
        </div>
      </div>
    </div>
  </div>



  <!-- POP UP GEAR INFO MODAL -->
  <div class="modal fade" id="popupGear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{selecteditem.price | currency}} Per Day</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="popupGear">

          <ul class="products">
            <li class="crop">
              <img src="{{selecteditem.imageUrl}}" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

