<nav>
  <div class="container-fluid navbar navbar-light bg-light">
    <a class="navbar-brand"><strong>Admin</strong></a>
    <h1>
      <span class="badge badge-primary">{{ countUsers() }}</span> GearSilo Users and
      <span class="badge badge-primary">{{ countGear() }}</span> pieces of Gear
    </h1>
  </div>
</nav>
<div class="container-fluid bg-light">
  <ngb-tabset >
    <ngb-tab title="Users" (tabChange)="selectedUser = false">
      <ng-template ngbTabContent>
        <div id="userList" class="container" *ngIf="!selectedUser">
          <table class="table table-striped table-hover">
            <thead class="thead-light">
              <tr>
                <th>Id</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Enabled</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="showHand"
                *ngFor="let user of users"
                (click)="selectedUser = true"
              >
                <td>{{ user.id }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td>{{ user.enabled }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Single Display w/Options Going Here -->
        <div *ngIf="selectedUser">
          <a>Diplay Single</a>
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="selectedUser = false"
          >
            Back
          </button>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle><b>Gear</b> List</ng-template>
      <ng-template ngbTabContent>
      <div id="gearList" class="container" *ngIf="!selectedGear">
        <table class="table table-striped table-hover">
          <thead class="thead-light">
            <tr>
              <th>Id</th>
              <th>Gear</th>
              <th>Owner Id</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Available</th>
              <th>Active</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gear of gearList" class="showHand" (click)="selectedGear = true">
              <td>{{ gear.id }}</td>
              <td>{{ gear.name }}</td>
              <td>{{ gear.user.id }}</td>
              <td>{{ gear.user.firstName }}</td>
              <td>{{ gear.user.lastName }}</td>
              <td>{{ gear.available }}</td>
              <td>{{ gear.active }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Single Display w/Options Going Here -->
      <div *ngIf="selectedGear">
        <a>Diplay Single</a>
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="selectedGear = false"
        >
          Back
        </button>
      </div>
    </ng-template>
      </ngb-tab>

    <ngb-tab title="Reservations">
      <ng-template ngbTabContent>
        <div id="resvList" class="container" *ngIf="!selectedResv">
          <table class="table table-striped table-hover">
            <thead class="thead-light">
              <tr>
                <th>Reservation Id</th>
                <th>Lender Id</th>
                <th>Lender Email</th>
                <th>Renter Id</th>
                <th>Renter Email</th>
                <th>Created Date</th>
                <th>Approved</th>
                <th>Approved</th>
                <th>Completed</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let gear of gearList" class="showHand" (click)="selectedResv = true">
                <td>{{ resv.id }}</td>
                <td>{{ resv.gearId.user.id }}</td>
                <td>{{ resv.gearId.user.email }}</td>
                <td>{{ resv.userShopper.id }}</td>
                <td>{{ resv.userShopper.email }}</td>
                <td>{{ resv.createdAt }}</td>
                <td>{{ resv.approved }}</td>
                <td>{{ resv.completed }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Single Display w/Options Going Here -->
        <div *ngIf="selectedResv">
          <a>Diplay Single</a>
          <button
            type="button"
            class="btn btn-outline-primary"
            (click)="selectedGear = false"
          >
            Back
          </button>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>




  <!-- <div class="container navbar navbar-light bg-light">
    <a class="navbar-brand" ><strong>Admin</strong></a>
    <h1 *ngIf="!selectedUser">
      <span class="badge badge-primary">{{ countUsers() }}</span> GearSilo Users
    </h1>
  </div>
    <div id="userList" class="container" *ngIf="!selectedUser">
      <table class="table table-striped table-hover">
        <thead class="thead-light">
          <tr>
            <th>Id</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Enabled</th>
          </tr>
        </thead>
        <tbody>
          <tr class="showHand" *ngFor="let user of users" (click)="selectedUser = true">
            <td>{{ user.id }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.enabled }}</td>
          </tr>
        </tbody>
      </table>
    </div>
<div *ngIf="selectedUser">
  <a>Diplay Single</a>
  <button type="button" (click)="selectedUser = false">Back</button>
</div> -->
