.gear-img-details {
  width: 50%;
  max-width: 400px;
  height: auto;
}
.gear-img-list {
  width: 50%;
  max-width: 150px;
  height: auto;
}
.contaner-fluid {
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn:hover {
  color: orange;
  background-color: white;
}

.active-pink-4 input[type="text"]:focus:not([readonly]) {
  border: 1px solid orange;
  box-shadow: 0 0 0 1px orange;
}
.active-pink-3 input[type="text"] {
  border: 1px solid;
  box-shadow: 0 0 0 1px;
}

/* form {
  display: inline !important;
} */

/* CARDS */
.star-rating li {
  padding: 0;
}
.star-rating i {
  font-size: 30px;
  color: #ffc000;
}

#panels {
  width: 150%;
}

#panels:hover {
  background-color: white;
  transition: transform 0.4s;
  transition-delay: .1s;
  transform: scale(1.01);
  transform-style: preserve-3d;
}


.list-group {
  /* background-color: blue; */
  border: none;
}

.pic {
  height: 50px;
  width: 50px;
  border-radius: 45%;
}

.checked {
  color: orange;
}

.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: orange;
}
.bad {
  color: orange;
}
.filled.bad {
  color: orange;
}
.zoomin img {
  height: 200px;
  width: 200px;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}
.zoomin img:hover {
  width: 300px;
  height: 300px;
}

/* body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;} */

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 75px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 25px;
  width: 350px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  opacity: 50;
}

/* Add styles to the form container */
.form-container {
  /* max-width:200px; */
  /* padding: 20px;
  margin-left: 40px; */
  background-color: white;
  opacity: 1;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.carousel {
  /* display: block; */
  width: 80%;
  height: auto;
}

.carousel-inner > .carousel-item > img {
  display: block;
  width: 90%;
  height: auto;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 0px;
  /* height: 300px; Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.resImage {
  position: absolute;
  clip: rect(0px, 400px, 300px, 0px);
  align-content: center;
  margin-top: -50px;
  background-position: center center !important;
  height: auto;
  max-height: 300px !important;
  overflow: hidden;
  border-radius: 2%;
  border-left: orange;
  border-bottom: orange;
  border-style: solid;
  mask-border-width: 5px;
}

.form-control:valid {
  border-color: orange !important;
}
.form-control {
  background-color: white;
}

input[type=text] {
  width: 70%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 160%;
}

.user_name{
  font-size:14px;
  font-weight: bold;
}
.comments-list .media{
  border-bottom: 1px dotted #ccc;
}




