<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Gear Silo</h1>
      <h2 class="mx-auto my-0 text-uppercase">peer-to-peer outdoor gear rentals</h2>
      <br>
      <h2 class="mx-auto my-0 text-uppercase">Software Developed By:</h2>
      <br>
      <a href="https://vintonlee.dev/" target="_blank" class="btn btn-outline-light js-scroll-trigger">Vinton Lee</a>
      <br><br>
      <a href="https://github.com/calooper" target="_blank" class="btn btn-outline-light js-scroll-trigger">Colt
        Looper</a>
      <br><br>
      <a href="https://github.com/AdamOnwan" target="_blank" class="btn btn-outline-light js-scroll-trigger">Adam
        Onwan</a>
      <br><br>
      <a href="https://www.linkedin.com/in/jerryrogersjr/" target="_blank" class="btn btn-outline-light js-scroll-trigger">Mr Rogers</a>
      <br><br>
      <a href="https://github.com/Briman-Jag" target="_blank" class="btn btn-outline-light js-scroll-trigger">Brian
        Streetman</a>
    </div>
  </div>
</header>
